/* Handles media queries for 
- a standard phone to a large phone resolution, 
- a standard tablet to a large tablet resolution, 
- and a laptop */
/*----- CONTACT US PAGE ----- */
#contact-us-text {
  width: 40%;
  margin: 20px auto 20px auto;
  font-size: large;
  text-align: justify;
}
@media screen and (max-width: 480px) {
  #contact-us-text {
    width: 90%;
    font-size: smaller;
  }
}
@media screen and (min-width: 481px) and (max-width: 700px) {
  #contact-us-text {
    width: 80%;
    font-size: small;
  }
}
@media screen and (min-width: 701px) and (max-width: 1024px) {
  #contact-us-text {
    width: 65%;
    font-size: medium;
  }
}

#contact-us {
  color: black;
  background-color: white;
  width: 40%;
  margin: 20px auto 20px auto;
  padding: 20px;
  border-radius: 20px;
}
@media screen and (max-width: 480px) {
  #contact-us {
    width: 90%;
  }
}
@media screen and (min-width: 481px) and (max-width: 700px) {
  #contact-us {
    width: 80%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1024px) {
  #contact-us {
    width: 65%;
  }
}

input {
  padding: 10px;
  background-color: #D9D9D9;
  border: none;
  resize: none;
}
@media screen and (max-width: 480px) {
  input {
    padding: 1px;
  }
}

#contact-us-form {
  width: 100%;
}
#contact-us-form h2 {
  width: 15%;
  font-size: large;
  font-weight: normal;
}
@media screen and (max-width: 480px) {
  #contact-us-form h2 {
    font-size: small;
  }
}
@media screen and (min-width: 481px) and (max-width: 700px) {
  #contact-us-form h2 {
    font-size: 15px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1024px) {
  #contact-us-form h2 {
    font-size: medium;
  }
}

.contact-fields {
  display: flex;
  width: 100%;
  margin: 20px auto 20px auto;
  padding: 10px;
  background-color: #D9D9D9;
}
.contact-fields input {
  width: 85%;
  border-color: #D9D9D9;
}
.contact-fields h2 {
  margin: auto;
}
@media screen and (max-width: 480px) {
  .contact-fields {
    display: block;
  }
  .contact-fields input {
    width: 100%;
  }
  .contact-fields h2 {
    margin: 0;
  }
}

#message-field {
  margin: 10px auto 10px auto;
  width: 100%;
  background-color: #D9D9D9;
  padding: 10px;
}
#message-field input {
  width: 100%;
  padding: 10px 10px 140px 10px;
}

#send-btn {
  width: 100%;
  text-align: center;
}

input[type=submit] {
  width: 50%;
  background-color: #FFE699;
  font-size: large;
}
input[type=submit]:hover {
  background-color: #ffd24a;
}
@media screen and (max-width: 480px) {
  input[type=submit] {
    font-size: medium;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  input[type=submit] {
    font-size: 17px;
  }
}

/* ----- SIGN UP and LOG IN PAGE ----- */
.signup-login-body {
  background-color: white;
  color: black;
  text-align: center;
}
.signup-login-body img {
  width: 300px;
}
.signup-login-body p {
  margin: 10px 0 50px 0;
}
@media screen and (min-width: 651px) {
  .signup-login-body {
    font-size: larger;
  }
  .signup-login-body img {
    width: 290px;
  }
  .signup-login-body p {
    margin: 20px;
  }
}

.signup-login-body hr {
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 651px) and (max-width: 1024px) {
  .signup-login-body hr {
    width: 72%;
  }
}
@media screen and (min-width: 1024px) {
  .signup-login-body hr {
    width: 45%;
  }
}

.signup-login-body form {
  width: 90%;
  margin: 50px auto 20px auto;
  text-align: left;
}
@media screen and (min-width: 651px) and (max-width: 1024px) {
  .signup-login-body form {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .signup-login-body form {
    width: 40%;
  }
}

.signup-login-body input[type=text],
.signup-login-body input[type=email],
.signup-login-body input[type=password] {
  margin: auto;
  display: block;
  width: 100%;
  background-color: white;
  border: solid black;
  text-align: left;
  padding: 6px;
}

.signup-login-body input[type=submit] {
  background-color: #35416C;
  color: white;
  text-align: center;
  width: 100%;
  padding: 6px;
}/*# sourceMappingURL=forms.css.map */