@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Handles media queries for 
- a standard phone to a large phone resolution, 
- a standard tablet to a large tablet resolution, 
- and a laptop */

@mixin standard-phone ($maxwidth) {
    @media screen and (max-width: $maxwidth) {
        @content;
    }
}
@mixin phone-tablet ($minwidth, $maxwidth) {
    @media screen and (min-width:$minwidth) and (max-width: $maxwidth) {
        @content;
    }
}
@mixin tablet-laptop ($minwidth) {
    @media screen and (min-width:$minwidth) {
        @content;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body{background-color: #49547A; display:flexbox; color: white;}

/*Headings*/
.article-headings{
    display: flex;
    margin-top: 5%;
}

/*Line through Header effect*/
.left-line, .right-line{
    background-color: #FFE699;
    width: 150px;
    height: 5px;
    @include standard-phone(480px){width: 82px;}
}
.left-line{
    @include standard-phone(480px){margin: 10px 0 0 auto;}
    @include phone-tablet(481px, 700px){margin: 10px 0 0 auto;}
    margin: 15px 0 0 auto;
}
.right-line{
    @include standard-phone(480px){margin: 10px auto 0 0;}
    @include phone-tablet(481px, 700px){margin: 10px auto 0 0;}
    margin: 15px auto 0 0;
}

.article-headings h2{
    text-align: center;
    @include standard-phone(480px){
        width: 165px;
        font-size: 18px;
        padding: 0 10px 0 10px;
    }
    @include phone-tablet(481px, 700px){
        width: 170px;
        font-size: 20px;
    }
    @include phone-tablet(700px, 1024px){
        width: 190px;
        font-size: 25px;
    }
    @include tablet-laptop(1024px){
        width: 350px;
        padding: 0 50px 0 50px;
    }
}

/*----- HOME PAGE -----*/
#pageInfo{
    margin: 10% auto 10% auto;
    width: 90%;
    display: grid;
    row-gap: 20px;
    img{
        display: block; 
        margin: 0 auto 0 auto;
        max-width: 100%;
    }
    h2{padding: 20px 0 20px 0;}
    .welcome-text{text-align: justify;}
    @include standard-phone(480px){
        display: block;
        font-size: 11px;
        text-align: justify;
        h2{text-align: center; color: #FFE699;}
        img{width: 190px;}
        .company-slogan{text-align: center;}
        .welcome-text{margin-bottom: 10%;}
    }
    @include phone-tablet(481px, 1024px){
        font-size: small;
        grid-template-areas: 
        "one two"
        "one three";
        grid-template-columns: 40% 60%;
        font-size: medium;
    }
    @include tablet-laptop(1024px){
        font-size: large;
        grid-template-areas: 
        "one two"
        "one three";
        grid-template-columns: 40% 60%;
        h2{font-size: 40px;}
        img{width: 250px;}
        .welcome-text{margin-bottom: 30px;}
    }
}

#pageInfo img{grid-area: one;}
.info_text{grid-area: two;}
.pageInfo-btns{grid-area: three;}

.pageInfo-btns{
    @include standard-phone(480px){display: block;}
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

#free-estimate-btn, #view-services-btn{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #FFE699;
    color: black;
    font-weight: bold;
    &:hover{background-color: #fef1cc;}
    @include standard-phone(480px){
        width: 95%;
        display: block;
        padding: 10px 30px 10px 30px;
        margin: 20px auto 0 auto;
        font-size: 11px;
    }
    @include phone-tablet(481px, 700px){
        width: 90%;
        font-size: 10px;
        padding: 10px 15px 10px 15px;
    }
    @include phone-tablet(701px, 1024px){
        font-size: small;
    }
    @include tablet-laptop(1024px){
        width: 90%;
        font-size: medium;
    }
}

//Why Choose Us Section (Home Page)
#persuadeInfo{
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    row-gap: 5%;
    width: 90%;
    margin: 50px auto 0 auto;
    section{
        display: grid; 
        grid-template-columns: 20% 70%; 
        column-gap: 10%;
        margin: 20px 0 50px 0;
    }
    p{text-align: justify; padding: 10px;}
    @include standard-phone(480px){
        display: block;
        text-align: justify;
        font-size: 11px;
        section{margin-top: 40px;}
        img{max-width: 100%;}
    }
    @include phone-tablet(481px, 600px){
        display: block;
        width: 80%;
        padding: 20px 0 20px 0;
        font-size: 12px;
        img{margin: 0 auto 0 auto; max-width: 100%;}
    }
    @include tablet-laptop(600px){
        img{max-width: 100%;}
    }
}

//Our Services Section (Home Page)
.serviceInfo{ 
    display: grid;
    width: 95%;
    margin: 50px auto auto auto;
    justify-content: center;
    text-align: center;
    .service{margin: 10% auto 10% auto;}
    img{border-radius: 20px;}
    #srvce-4, #srvce-5, #srvce-6, #srvce-7, #srvce-8{display: none;}
    @include standard-phone(480px){
        display: block;
        .service{width: 80%;}
        img{width: 250px;}
    }
    @include phone-tablet(481px, 700px){
        grid-template-columns: 45% 45%;
        column-gap: 5%;
    }
    @include phone-tablet(701px, 1024px){
        grid-template-columns: 45% 45%;
        column-gap: 10%;
        img{width: 300px;}
        #srvce-4{display: block;}
    }
    @include tablet-laptop(1024px){
        grid-template-columns: 30% 30% 30%;
        column-gap: 5%;
        width: 80%;
        img{width: 280px;}
        #srvce-4, #srvce-5, #srvce-6{display: block;}
    }
}

#view-more{
    text-align: center;
    &:hover{color: #FFE699;}
}

//Reviews Section (Home Page)

.review-section{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    padding: 50px 0 50px 0;
    position: relative;
    @include standard-phone(700px){max-width: 320px;}
    @include phone-tablet(701px, 1024px){max-width: 701px;}
}

.review-carousel{
    width: 90%;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 11px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    @include standard-phone(700px){
        grid-auto-columns: 100%;
    }
    @include phone-tablet (701px, 1024px){
        grid-auto-columns: calc((100% / 2) - 10px);
    }
}

.review-carousel::-webkit-scrollbar{display: none;}

.review-carousel.no-transition{scroll-behavior: auto;}

.review-carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.review-carousel.dragging .review{
    cursor: grab;
    user-select: none;
}

.review-carousel :where(.review, .review-image){
    display: flex;
    align-items: center;
}

.review{
    scroll-snap-align: start;
    height: 100%;
    list-style-type: none;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 50px;
    flex-direction: column;
    border-radius: 20px;
    .reviewName{
        padding: 10px 0 10px;
        font-size: large;
        font-weight: bold;
    }
    img{width: 20px;}
    @include standard-phone(700px){
        .actualReview{font-size: x-small;}
    }
}

.review-section button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: large;
    padding: 10px 20px 10px 20px;
    background-color: rgb(255, 230, 153);
    color: black;
    border: none;
    cursor: pointer;
}

.prev-btn{
    left: 10px;
    @include standard-phone(700px){left: 0;}
}
.next-btn{
    right: 10px;
    @include standard-phone(700px){right: 0;}
}

// Call Us Today Section (Home Page)
.callText{
    color: black;
    width: 100%;
    height: 200px;
    background-image: url(/Media/Home/contact-us-bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 35%;
    background-size: cover;
    text-align: center;
    div{
        height: 100%;
        background-color: rgba(255, 255, 255, .60);
    }
    h3{padding: 30px 0 0 0;}
    @include standard-phone(480px){font-size: small;}
}

#call-now-home{
    background-color: #FFE699;
    font-size: large;
    padding: 5px 20px 5px 20px;
    margin-top: 20px;
    width: 30%;
    border-radius: 15px;
    &:hover{background-color: #fef1cc;}
    img{width: 20px;}
    @include standard-phone(480px){
        width: 90%;
        font-size: small;
        img{width: 15px;}
    }
    @include phone-tablet(481px, 700px){
        width: 60%;
    }
    @include phone-tablet(701px, 1024px){
        width: 40%;
    }
    @include tablet-laptop(1024px){
        padding: 10px 20px 10px 20px;
        margin: 30px 100px 0 100px;
    }
}

/*----- SERVICES PAGE -----*/
.offered-services{
    display: grid;
    justify-content: center;
    column-gap: 5%;
    margin-top: 50px;
    grid-template-columns: 25% 25% 25%;
        row-gap: 12%;
    h4{padding-bottom: 10px;}
    @include standard-phone(480px){
        grid-template-columns: 40% 40%;
        row-gap: 7%;
        p{font-size: 11px;}
        margin-bottom: 70%;
    }
    @include phone-tablet(481px, 1023px){
        p{font-size: 12px;}
    }
    @include tablet-laptop(1024px){
        grid-template-columns: 20% 20% 20% 20%;
        row-gap: 20%;
    }
}

.services-img{
    max-width: 90%;
    padding-bottom: 20px;
}

.if-interested{
    text-align: center;
    button{
        border-radius: 5px;
        background-color: #FFE699;
        font-weight: bold;

        font-size: medium;
        width: 200px;
        padding: 10px 25px 10px 25px;
        margin: 10px;
    }
    img{width: 30px; padding-right: 10px;}
    @include standard-phone (480px){display: none;}
    @include phone-tablet(481px, 700px){
        font-size: 12px;
        margin: 50% 0 10% 0;
    }
    @include phone-tablet(701px, 1024px){
        font-size: 14px;
        margin: 35% 0 10% 0;
    }
    @include tablet-laptop(1024px){
        font-size: large;
        margin-top: 20%;   
        margin-bottom: 5%;     
        button{
            font-size: large;
            margin: 50px 100px 0 100px;
            padding: 15px 25px 15px 25px;
            width: 20%;
        }
    }
}

#free-quote-services{
    @include phone-tablet(481px, 1024px){padding: 15px 20px 10px 25px;}
    padding: 20px 25px 15px 25px;
}


/*----- ABOUT US PAGE -----*/
.no-line-header{
    text-align: center;
    padding-bottom: 10px;
}

.about-us, .mission-vision{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5% 0 15% 0;
    div{width: 85%; margin: auto;}
    img{width: 100%; margin: auto 0 auto 0;}
    @include standard-phone(480px){
        display: block;
        font-size: 12px;
        width: 80%;
        margin: 10% auto 30% auto;
        img{margin: 15px 0 15px 0;}
    }
    @include phone-tablet(481px, 700px){font-size: 75%;}
    @include phone-tablet(701px, 1024px){font-size: 80%;}
    @include tablet-laptop(1024px){font-size: larger;}
}

.company-projects{
    margin: 10% auto 10% auto;
    text-align: center;
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 20%;
    width: 75%;
    img{max-width: 100%; border-radius: 20px;}
    p{
        text-align: justify; 
        padding-top: 10px;
        font-size: small;
    }
    @include standard-phone(480px){
        display: block;
        width: 60%;
        .proj2{display: none;}
    }
    @include phone-tablet(481px, 700px){
        display: block;
        width: 45%;
        .proj2{display: none;}
    }
    @include tablet-laptop(1024px){
        p{font-size: medium;}
    }
}

.more-content-btn{
    text-align: center;
    margin: 0 auto 50px auto;
    padding: 15px;
    border-radius: 50%;
    font-size: x-large;
    background-color: #D9D9D9;
    width: 60px;
    color: black;
    font-weight: bold;
    &:hover{background-color: #FFE699;}
    @include standard-phone(1023px){
        padding: 10px;
        width: 50px;
        font-size: large;
    }
}